@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');

body{
    width: 100%;
    width: auto;
    min-height:100vh;
    background-color: white;
}

/* -------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 400px) and (max-width: 1366px) {

/* HEADER */
.header{
    position: absolute;
    width: 100%;
    height: 187px;
    left: 0px;
    top: 0px;
    opacity: 100%;

    background: rgba(160, 95, 52, 0.29);
}

.retamarrom{
    position: absolute;
    width: 109px;
    height: 17px;
    left: 0px;
    top: 87px;
    
    background: #42210B;
    border-radius: 0px 6px 6px 0px;
}

.logo{
    position: relative;
    width: 150px;
    height: 170px;
    left: 109px;
    top: 10px;
    object-fit: cover;
}

.retaamarela{
    position: absolute;
    width: 1081px;
    height: 17px;
    left: 268px;
    top: 87px;
    
    background: #DAA520;
    border-radius: 6px 0px 0px 6px;
}

.barrapesquisa{
    position: absolute;
    width: 478px;
    height: 31px;
    left: 321px;
    top: 149px;
    
    background: rgba(145, 145, 145, 0.322);
    border-radius: 10px;
    border-style: hidden;

    font-family: Ruda;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
}

.bProdutos{
    position: absolute;
    width: 81px;
    height: 18px;
    left: 830px;
    top: 159px;
    
    font-family: Ruda;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-decoration: none;

    
    color: #42210B;
}

.bContato{
    position: absolute;
    width: 68px;
    height: 23px;
    left: 981px;
    top: 154px;
    
    font-family: Ruda;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    text-decoration: none;

    
    color: #42210B;
}

.bQuemsomos{
    position: absolute;
    width: 113px;
    height: 23px;
    left: 1118px;
    top: 154px;
    
    font-family: Ruda;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    text-decoration: none;
    
    color: #42210B;
}

.bag{
    position: absolute;
    width: 35px;
    height: 37px;
    left: 1290px;
    top: 140px;
}

.retadivisoria{
    position: absolute;
    width: 1200px;
    height: 0px;
    left: 75px;
    top: 187px;

    border: 2px solid #42210B;
}

/* HEADER */

/* BODY */
.Quemsomos{
    position: absolute;
    width: 385px;
    height: 83px;
    left: 490px;
    top: 140px;

    font-family: Sail;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 83px;

    text-align: center;

    color: #C81912;
}

.txthistoria1{
    position: absolute;
    width: 780px;
    height: 154px;
    left: 85px;
    top: 306px;
    
    font-family: Ruda;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    
    color: #42210B;
}

.txthistoria2{
    position: absolute;
    width: 796px;
    height: 154px;
    left: 85px;
    top: 479px;
    
    font-family: Ruda;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    
    color: #42210B;
}

.txthistoria3{
    position: absolute;
    width: 373px;
    height: 59px;
    left: 85px;
    top: 730px;
    
    font-family: Ruda;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    
    color: #42210B;
}

.donacafe{
    position: absolute;
    width: 351px;
    height: 227px;
    left: 483px;
    top: 677px;
    
    border-radius: 18px;
}

.nomedonacafe{
    position: absolute;
    width: 125px;
    height: 16px;
    left: 491px;
    top: 895px;

    font-family: Ruda;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;

    color: #42210B;
}

.retadivisoriaquemsomos{
    position: absolute;
    width: 611px;
    height: 0px;
    left: 600px;
    top: 611px;
    
    border: 3px solid #42210B;
    transform: rotate(90deg);
}

.convite{
    position: absolute;
    width: 400px;
    height: 48px;
    left: 930px;
    top: 436px;
    
    font-family: Sail;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    
    color: #42210B;
}

.agradecimento{
    position: absolute;
    width: 325px;
    height: 58px;
    left: 967px;
    top: 570px;
    
    font-family: Ruda;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    
    color: #42210B;
}

.equipecafe{
    position: absolute;
    width: 351px;
    height: 227px;
    left: 960px;
    top: 677px;
    
    border-radius: 18px;
}

/* BODY */

/* HEADER-LEFT */

.retadivisoriarod{
    position: absolute;
    width: 1200px;
    height: 0px;
    left: 75px;
    top: 950px;
    
    border: 2px solid #42210B;
}

.header-left {
    position: absolute;
    width: 100%;
    height: 173px;
    left: 0px;
    top: 953px;
    
    background: #AAAAAA;
    margin-right: 10px;
}

.legal{
    position: absolute;
    width: 251px;
    height: 126px;
    left: 110px;
    top: 976px;

    font-family: Ruda;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #000000;
   
}

.ajuda{
    position: absolute;
    width: 113px;
    height: 59px;
    left: 503px;
    top: 976px;

    font-family: Ruda;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #000000;
}

.copyright{
    position: absolute;
    width: 410px;
    height: 14px;
    left: 503px;
    top: 1078px;

    font-family: Ruda;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: rgba(0, 0, 0, 0.52);
}

.redessociais{
    position: absolute;
    width: 101px;
    height: 29px;
    left: 1100px;
    top: 1005px;
    
    font-family: Ruda;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    
    color: #000000;
}

.imgface{
    position: absolute;
    width: 70px;
    height: 58px;
    left: 1078px;
    top: 1040px;
    object-fit: cover;
    opacity: 60%;
}

.imginsta{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1179px;
    top: 1044px;
    object-fit: cover;
    opacity: 60%;
}

.imgtele{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1260px;
    top: 1044px;
    object-fit: cover;
    opacity: 60%;
}
}

/* -------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 1367px) {
    
/* HEADER */
.header{
    position: absolute;
    width: 100%;
    height: 187px;
    left: 0px;
    top: 0px;
    opacity: 100%;

    background: rgba(160, 95, 52, 0.29);
}

.retamarrom{
    position: absolute;
    width: 198px;
    height: 17px;
    left: 0px;
    top: 87px;
    
    background: #42210B;
    border-radius: 0px 6px 6px 0px;
}

.logo{
    position: relative;
    width: 150px;
    height: 170px;
    left: 200px;
    top: 10px;
    object-fit: cover;
}

.retaamarela{
    position: absolute;
    width: 1231px;
    height: 17px;
    left: 352px;
    top: 87px;
    
    background: #DAA520;
    border-radius: 6px 0px 0px 6px;
}

.barrapesquisa{
    position: absolute;
    width: 478px;
    height: 31px;
    left: 481px;
    top: 149px;
    
    background: rgba(145, 145, 145, 0.322);
    border-radius: 10px;
    border-style: hidden;

    font-family: Ruda;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
}

.bProdutos{
    position: absolute;
    width: 81px;
    height: 18px;
    left: 990px;
    top: 157px;
    
    font-family: Ruda;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-decoration: none;

    
    color: #42210B;
}

.bContato{
    position: absolute;
    width: 68px;
    height: 23px;
    left: 1141px;
    top: 154px;
    
    font-family: Ruda;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    text-decoration: none;

    
    color: #42210B;
}

.bQuemsomos{
    position: absolute;
    width: 113px;
    height: 23px;
    left: 1278px;
    top: 154px;
    
    font-family: Ruda;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    text-decoration: none;
    
    color: #42210B;
}

.bag{
    position: absolute;
    width: 35px;
    height: 37px;
    left: 1450px;
    top: 140px;
}

.retadivisoria{
    position: absolute;
    width: 1430px;
    height: 0px;
    left: 75px;
    top: 187px;

    border: 2px solid #42210B;
}

/* HEADER */
    
/* BODY */
.Quemsomos{
    position: absolute;
    width: 385px;
    height: 83px;
    left: 579px;
    top: 140px;
    
    font-family: Sail;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 83px;
    
    text-align: center;
    
    color: #C81912;
}
    
    .txthistoria1{
        position: absolute;
        width: 780px;
        height: 154px;
        left: 147px;
        top: 306px;
        
        font-family: Ruda;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        
        color: #42210B;
    }
    
    .txthistoria2{
        position: absolute;
        width: 796px;
        height: 154px;
        left: 147px;
        top: 479px;
        
        font-family: Ruda;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        
        color: #42210B;
    }
    
    .txthistoria3{
        position: absolute;
        width: 373px;
        height: 59px;
        left: 147px;
        top: 730px;
        
        font-family: Ruda;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        
        color: #42210B;
    }
    
    .donacafe{
        position: absolute;
        width: 351px;
        height: 227px;
        left: 545px;
        top: 677px;
        
        border-radius: 18px;
    }
    
    .nomedonacafe{
        position: absolute;
        width: 125px;
        height: 16px;
        left: 553px;
        top: 895px;
    
        font-family: Ruda;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
    
        color: #42210B;
    }
    
    .retadivisoriaquemsomos{
        position: absolute;
        width: 611px;
        height: 0px;
        left: 680px;
        top: 611px;
        
        border: 3px solid #42210B;
        transform: rotate(90deg);
    }
    
    .convite{
        position: absolute;
        width: 400px;
        height: 48px;
        left: 1011px;
        top: 436px;
        
        font-family: Sail;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        
        color: #42210B;
    }
    
    .agradecimento{
        position: absolute;
        width: 325px;
        height: 58px;
        left: 1070px;
        top: 570px;
        
        font-family: Ruda;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        
        color: #42210B;
    }
    
    .equipecafe{
        position: absolute;
        width: 351px;
        height: 227px;
        left: 1061px;
        top: 677px;
        
        border-radius: 18px;
    }
    
    /* BODY */

/* HEADER-LEFT */

.retadivisoriarod{
    position: absolute;
    width: 1430px;
    height: 0px;
    left: 75px;
    top: 950px;
    
    border: 2px solid #42210B;
}

.header-left {
    position: absolute;
    width: 100%;
    height: 173px;
    left: 0px;
    top: 953px;
    
    background: #AAAAAA;
    margin-right: 10px;
}

.legal{
    position: absolute;
    width: 251px;
    height: 126px;
    left: 160px;
    top: 976px;

    font-family: Ruda;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #000000;
   
}

.ajuda{
    position: absolute;
    width: 113px;
    height: 59px;
    left: 553px;
    top: 976px;

    font-family: Ruda;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #000000;
}

.copyright{
    position: absolute;
    width: 410px;
    height: 14px;
    left: 553px;
    top: 1078px;

    font-family: Ruda;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: rgba(0, 0, 0, 0.52);
}

.redessociais{
    position: absolute;
    width: 101px;
    height: 29px;
    left: 1150px;
    top: 1005px;
    
    font-family: Ruda;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    
    color: #000000;
}

.imgface{
    position: absolute;
    width: 70px;
    height: 58px;
    left: 1128px;
    top: 1040px;
    object-fit: cover;
    opacity: 60%;
}

.imginsta{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1229px;
    top: 1044px;
    object-fit: cover;
    opacity: 60%;
}

.imgtele{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1310px;
    top: 1044px;
    object-fit: cover;
    opacity: 60%;
}
}